.table {
  width: 1000px;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  & thead {
    background-color: rgb(171, 171, 177);
  }
  & .header {
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 2px;
  }
  & tbody {
    background-color: rgb(247, 247, 247);
  }
  & .column {
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-align: center;
  }
  & .name {
    text-align: left;
  }
}
